
a {
    color: #00EAC7;
    text-decoration: none;
    
}


.social {
    /* position: fixed; */
    top: 20px;
    
}

.social ul {
    padding: 0px;
    transform: translate(260px,0);
    
    
}

.social ul li {
    display: block;
    margin: 5px;
    background: #0f3034;
    width: 150px;
    height: 50px;
    /* text-align: right; */
    padding: 10px;
    border-radius: 30px 0px 0px 30px;
    transition: all 1.5s;
}

.social ul li:hover {
    
    transform: translate(-100px,0px);
    background: #0e4445;
    transition: all 1.5s;
}

.social ul li:hover a {
    color: #00EAC7;
    
}

.social ul li:hover i{
    color: #c44a73;
    background: white;
    transform: rotate(360deg);
   
    transition: all 1.5s;
}

.social ul li i {
   margin-right: 91px;
    color: #000;
    background: white;
    padding: 10px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    transform: rotate(0deg);
    text-align: center;
    font-size: 20px;
}

/* 
.youtubeBtn{
    position: fixed;
    left: 50%;
  transform:translatex(-50%);
    bottom: 20px;
    cursor: pointer;
    transition: all .3s;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
  background:#000;
  padding:2px 10px;
  border-radius:5px;
}
.youtubeBtn i{
   font-size:20px;
  float:left;
}
.youtubeBtn a{
    color:#ff0000;
    animation: youtubeAnim 1000ms linear infinite;
  float:right;
}
.youtubeBtn a:hover{
  color:#c9110f;
  transition:all .3s ease-in-out;
}
.youtubeBtn i:active{
  transform:scale(.9);
  transition:all .3s ease-in-out;
}
.youtubeBtn span{
    font-family: 'Lato';
    font-weight: bold;
    color: #fff;
    display: block;
    font-size: 12px;
    float: right;
    line-height: 20px;
    padding-left: 5px;
  
} */

@keyframes youtubeAnim{
  0%,100%{
    color:#c9110f;
  }
  50%{
    color:#ff0000;
  }
}
.showme {
  display: none;
}
.showhim:hover .showme {
  display: block;
}
.aw:hover{
    padding-top: 10px;
  transition-duration: 0.2s;
}