.content {
  display: block;
  margin: 0;
  padding: 0;
  color: inherit;
  font-family: Karla, sans-serif;
  font-size: 14px;
  letter-spacing: 0.07em;
  line-height: 1.3;
}
/* .border {
  border-left: 3px solid red;
} */

.h-top-1 {
  /* background-color: black; */
}
.h-top-2 {
  width: 100%;
  height: 25px;
  background-color: #111b24;
}
.h-top-3 {
  margin: auto;
  width: 50%;
  /* padding-top: 10px; */

  border-top: 25px solid #ffffff;
  border-left: 22px solid transparent;
  border-right: 22px solid transparent;
}
.vl {
  border-left: 6px solid black;
  height: 50px;
  width: 30px;
}
.flex.justify-center.items-center {
  padding-top: 20px;
  margin-bottom: -8px;
  /* margin-right: 190px; */
}
