.marquee {
  overflow: hidden;
}

.marquee-content {
  display: flex;
  height: 50px;

  padding-top: 30px;
  padding-bottom: 90px;
  animation: scrolling 10s linear infinite;
}

.marquee-item {
  flex: 0 0 12vw;
  margin: 0 1vw;
  /*   flex: 0 0 20vw; */
  /*   margin: 0 2vw; */
}
@media screen and (max-device-width: 580px) {
  .marquee-item {
    flex: 0 0 31vw;
    margin: 0 3vw;
  }
}

.marquee-item img {
  display: block;
  width: 100%;
  /*   padding: 0 20px; */
}

@keyframes scrolling {
  /* 0% {
    transform: translateX(0);
  }
  100% {
    transform: translatex(-144vw);
  } */
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
.marquee-content:hover {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}
.marquee-title {
  opacity: 1;
  color: #485159;
  padding-top: 8px;
  font-weight: 700;
  padding-bottom: 30px;
  letter-spacing: 0.15em;
  text-align: center;
  text-transform: uppercase;
}
.hh-top-2 {
  width: 100%;
  height: 20px;
  background-color: #111b24;
}
.hh-top-3 {
  margin: auto;
  width: 26%;
  border-radius: 5px;

  /* padding-top: 10px; */

  /* border-top: 200px solid #ffffff; */
  /* border-top-left-radius: 100px; */
  border-bottom: 25px solid #14202a;
  border-left: 22px solid transparent;
  border-right: 22px solid transparent;
}
